

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.experiences-text{
  font-size: 12px;
}